In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pprint as pp
%matplotlib inline

In [3]:
df = pd.read_pickle('../data/ALL.pkl')
print(df.shape)
df.head()

(7440252, 17)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
contb_receipt_dt,,,,,,,,,,,,,,,,,
2006-08-30,C00580100,P80001571,"Trump, Donald J.","FOSTER, SYLVIA L DR.",MIDDLETOWN,DE,19709,N.P.H.S.,PHYSICIAN,400.0,NaN,X,NaN,SA18,1104813,SA18.2452270,NaN
2013-10-01,C00458844,P60006723,"Rubio, Marco","MARGULIES, STANLEY I. DR.",ISLAMORADA,FL,330363303,SELF-EMPLOYED,PHYSICIAN,-20.0,NaN,X,TRANSFER FROM RUBIO VICTORY,SA18,1029436,SA18.621507.2.0615,P2016
2013-10-01,C00458844,P60006723,"Rubio, Marco","MARGULIES, STANLEY I. DR.",ISLAMORADA,FL,330363303,SELF-EMPLOYED,PHYSICIAN,20.0,NaN,X,TRANSFER FROM RUBIO VICTORY,SA18,1029436,SA18.621507.3.0615,G2016
2013-10-04,C00458844,P60006723,"Rubio, Marco","ACOSTA, ADELFA MS.",MIAMI SPRINGS,FL,331666027,RETIRED,RETIRED,80.0,NaN,X,TRANSFER FROM RUBIO VICTORY,SA18,1029436,SA18.621975.3.0615,G2016
2013-10-04,C00458844,P60006723,"Rubio, Marco","ZOLDAN, GERALD MR.",CHICAGO,IL,606115643,MORLISEY ASSOCIATES INC.,EXECUTIVE,100.0,NaN,X,TRANSFER FROM RUBIO VICTORY,SA18,1029436,SA18.621490.3.0615,G2016

In [12]:
df.contb_receipt_amt.min()
df[df.contb_receipt_amt == df.contb_receipt_amt.min()]
df[df.contbr_nm == 'CARANGI, JOE'].groupby('contbr_nm').count()
#df.cand_nm.value_counts(dropna = False)
#df.contb_receipt_amt.value_counts(dropna = False)

,cmte_id,cand_id,cand_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
contbr_nm,,,,,,,,,,,,,,,,
"CARANGI, JOE",83,83,83,83,83,83,81,81,83,2,0,73,83,83,83,83

In [ ]:
from collections import Counter
from tqdm import tqdm

#occupations_count = Counter(list(df['contbr_occupation']))
#print(occupations_count.most_common(5))

def find_most_common(df):
    
    most_common_list = []
    
    for column in tqdm(df.columns.values):
        column_count = Counter(list(df[column]))
        most_common_list.append(column_count.most_common(25))
    
    print(most_common_list)

find_most_common(df)

In [ ]:
def print_unique_values(df):
    for column in df.columns.values:
        pp.pprint(column + '(' + str(len(df[column].unique())) + '): ' + str(df[column].unique()))
        print('')

print_unique_values(df)

In [ ]:
df.drop(['cmte_id', 'cand_id', 'contbr_nm', 'memo_cd', 'form_tp', 'file_num', 'tran_id'], axis = 1, inplace = True)
print(df.shape)
df.head()

In [ ]:
df[df.contb_receipt_amt > 2700]

In [ ]:
df[df.contbr_employer == 'COLSA CORPORATION']

In [ ]:
plt.hist(list(df.loc[:, 'contb_receipt_amt']))
#list(df.loc[0:10, 'contb_receipt_amt'])